<%= form_for(evaluation) do |f| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <div class="dateSelect">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="field">
    <%= f.label :time %>
    <div class="dateSelect">
      <%= f.time_select :time %>
    </div>
  </div>

  <div class="field">
    <%= f.label :event %>
    <%= f.text_area :event %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :team %>
    <%= f.text_area :team %>
  </div>

  <div class="field">
    <%= f.label :parent, 'Parent/Guardian' %>
    <%= f.text_area :parent %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>

  <div class="field">
    <%= f.label :bodypart, 'Body Part' %>
    <%= f.text_area :bodypart %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :left %>
    <%= f.label :left %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :right %>
    <%= f.label :right %>
  </div>

  <div class="field">
    <%= f.label :subjective %>
    <%= f.text_area :subjective %>
  </div>

  <div class="field">
    <%= f.label :visual %>
    <%= f.text_area :visual %>
  </div>

  <div class="field">
    <%= f.label :palpation %>
    <%= f.text_area :palpation %>
  </div>

  <div class="field">
    <%= f.label :rom, 'ROM' %>
    <%= f.text_area :rom %>
  </div>

  <div class="field">
    <%= f.label :mmt, 'MMT' %>
    <%= f.text_area :mmt %>
  </div>

  <div class="field">
    <%= f.label :neurological %>
    <%= f.text_area :neurological %>
  </div>

  <div class="field">
    <%= f.label :specialtests, 'Special Tests' %>
    <%= f.text_area :specialtests %>
  </div>

  <div class="field">
    <%= f.label :functionaltesting, 'Functional Testing' %>
    <%= f.text_area :functionaltesting %>
  </div>

  <div class="field">
    <%= f.label :assessment %>
    <%= f.text_area :assessment %>
  </div>

  <div class="field">
    <%= f.label :plan %>
    <%= f.text_area :plan %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :rice %>
    <%= f.label :rice, 'R.I.C.E.' %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :taping %>
    <%= f.label :taping %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :mdreferral %>
    <%= f.label :mdreferral, 'MD Referral' %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :crutches %>
    <%= f.label :crutches %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :instruction %>
    <%= f.label :instruction %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :screen %>
    <%= f.label :screen %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :erreferral %>
    <%= f.label :erreferral, 'ER Referral' %>
  </div>

  <div class="field">
    <%= f.label :hospitalname, 'Hospital Name' %>
    <%= f.text_area :hospitalname %>
  </div>

  <div class="checkSelect">
    <%= f.check_box :notifiedparent %>
    <%= f.label :notifiedparent, 'Notified Parent/Guardian' %>
  </div>

  <div class="field">
    <%= f.label :whomnotified, 'Whom Notified' %>
    <%= f.text_area :whomnotified %>
  </div>

  <div class="field">
    <%= f.label :datetime %>
    <div class="dateSelect">
      <%= f.datetime_select :datetime %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
