<%= form_for(evaluation) do |f| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="date">
    <%= f.label :date %>
    <div class="dateSelect input-group date" id="datetimepicker2">
      <%= f.text_field :date %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="date">
    <%= f.label :time %>
    <div class="dateSelect input-group date" id="datetimepicker3">
      <%= f.text_field :time %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :event %>
    <%= f.text_area :event %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :team %>
    <%= f.text_area :team %>
  </div>

  <div class="field">
    <%= f.label :parent, 'Parent/Guardian' %>
    <%= f.text_area :parent %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>

  <div class="field">
    <%= f.label :bodypart, 'Body Part' %>
    <%= f.text_area :bodypart %>
  </div>

  <div class="checkBoxes">
    <div class="checkSelect">
      <%= f.label :left %>
      <%= f.check_box :left %>
    </div>

    <div class="checkSelect">
      <%= f.label :right %>
      <%= f.check_box :right %>
    </div>
  </div>

  <div class="field">
    <%= f.label :subjective %>
    <%= f.text_area :subjective %>
  </div>

  <div class="field">
    <%= f.label :visual %>
    <%= f.text_area :visual %>
  </div>

  <div class="field">
    <%= f.label :palpation %>
    <%= f.text_area :palpation %>
  </div>

  <div class="field">
    <%= f.label :rom, 'ROM' %>
    <%= f.text_area :rom %>
  </div>

  <div class="field">
    <%= f.label :mmt, 'MMT' %>
    <%= f.text_area :mmt %>
  </div>

  <div class="field">
    <%= f.label :neurological %>
    <%= f.text_area :neurological %>
  </div>

  <div class="field">
    <%= f.label :specialtests, 'Special Tests' %>
    <%= f.text_area :specialtests %>
  </div>

  <div class="field">
    <%= f.label :functionaltesting, 'Functional Testing' %>
    <%= f.text_area :functionaltesting %>
  </div>

  <div class="field">
    <%= f.label :assessment %>
    <%= f.text_area :assessment %>
  </div>

  <div class="field">
    <%= f.label :plan %>
    <%= f.text_area :plan %>
  </div>

  <div class="checkBoxes">
    <div class="checkSelect">
      <%= f.label :rice, 'R.I.C.E.' %>
      <%= f.check_box :rice %>
    </div>

    <div class="checkSelect">
      <%= f.label :taping %>
      <%= f.check_box :taping %>
    </div>

    <div class="checkSelect">
      <%= f.label :mdreferral, 'MD Referral' %>
      <%= f.check_box :mdreferral %>
    </div>

    <div class="checkSelect">
      <%= f.label :crutches %>
      <%= f.check_box :crutches %>
    </div>

    <div class="checkSelect">
      <%= f.label :instruction %>
      <%= f.check_box :instruction %>
    </div>

    <div class="checkSelect">
      <%= f.label :screen %>
      <%= f.check_box :screen %>
    </div>

    <div class="checkSelect">
      <%= f.label :erreferral, 'ER Referral' %>
      <%= f.check_box :erreferral %>
    </div>
  </div>

  <div class="field">
    <%= f.label :hospitalname, 'Hospital Name' %>
    <%= f.text_area :hospitalname %>
  </div>

  <div class="checkBoxes">
    <div class="checkSelect">
      <%= f.label :notifiedparent, 'Notified Parent/Guardian' %>
      <%= f.check_box :notifiedparent %>
    </div>
  </div>

  <div class="field">
    <%= f.label :whomnotified, 'Whom Notified' %>
    <%= f.text_area :whomnotified %>
  </div>

  <div class="date">
    <%= f.label :date %>
    <div class="dateSelect input-group date" id="datetimepicker4">
      <%= f.text_field :date %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <script type="text/javascript">
    $(function () {
      $('#datetimepicker2').datetimepicker({
        format: 'YYYY/MM/DD'
      });

      $('#datetimepicker3').datetimepicker({
        format: 'LT'
      });

      $('#datetimepicker4').datetimepicker({
        format: 'YYYY/MM/DD LT'
      });
    });
  </script>
<% end %>
