<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @evaluation.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @evaluation.time %>
</p>

<p>
  <strong>Event:</strong>
  <%= @evaluation.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @evaluation.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @evaluation.team %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @evaluation.parent %>
</p>

<p>
  <strong>Email:</strong>
  <%= @evaluation.email %>
</p>

<p>
  <strong>Bodypart:</strong>
  <%= @evaluation.bodypart %>
</p>

<p>
  <strong>Left:</strong>
  <%= @evaluation.left %>
</p>

<p>
  <strong>Right:</strong>
  <%= @evaluation.right %>
</p>

<p>
  <strong>Subjective:</strong>
  <%= @evaluation.subjective %>
</p>

<p>
  <strong>Visual:</strong>
  <%= @evaluation.visual %>
</p>

<p>
  <strong>Palpation:</strong>
  <%= @evaluation.palpation %>
</p>

<p>
  <strong>Rom:</strong>
  <%= @evaluation.rom %>
</p>

<p>
  <strong>Mmt:</strong>
  <%= @evaluation.mmt %>
</p>

<p>
  <strong>Neurological:</strong>
  <%= @evaluation.neurological %>
</p>

<p>
  <strong>Specialtests:</strong>
  <%= @evaluation.specialtests %>
</p>

<p>
  <strong>Functionaltesting:</strong>
  <%= @evaluation.functionaltesting %>
</p>

<p>
  <strong>Assessment:</strong>
  <%= @evaluation.assessment %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @evaluation.plan %>
</p>

<p>
  <strong>Rice:</strong>
  <%= @evaluation.rice %>
</p>

<p>
  <strong>Taping:</strong>
  <%= @evaluation.taping %>
</p>

<p>
  <strong>Mdreferral:</strong>
  <%= @evaluation.mdreferral %>
</p>

<p>
  <strong>Crutches:</strong>
  <%= @evaluation.crutches %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @evaluation.instruction %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @evaluation.screen %>
</p>

<p>
  <strong>Erreferral:</strong>
  <%= @evaluation.erreferral %>
</p>

<p>
  <strong>Hospitalname:</strong>
  <%= @evaluation.hospitalname %>
</p>

<p>
  <strong>Notifiedparent:</strong>
  <%= @evaluation.notifiedparent %>
</p>

<p>
  <strong>Whomnotified:</strong>
  <%= @evaluation.whomnotified %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @evaluation.datetime %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
